.footer {
  background-color: $color-grey-dark-3;
  padding: 10rem 0;
  color: $color-grey-light-2;

  // STEP 9 is in _navigation.scss ========================================= STEP 10 ================================ STEP 11 is in _home.scss

  @include respond(tablet-port) {
    padding: 8rem 0;
  }


  &__logo-box {
    text-align: center;
    margin-bottom: 8rem;

    @include respond(tablet-port) {
      margin-bottom: 6rem;
    }
  }

  &__logo {
    width: 15rem;
    height: auto;
  }

  &__navigation {
    border-top: 1px solid $color-grey-dark;
    padding-top: 2rem;
    display: inline-block;

    @include respond(tablet-port) {
      width: 100%;
      text-align: center;
    }
  }

  &__list {
    list-style-type: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      display: inline-block;
      color: $color-grey-light-2;
      background-color: $color-grey-dark-3;
      text-transform: uppercase;
      transition: all 0.2s;

      &:hover {
        color: $color-primary;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
        transform: rotate(5deg) scale(1.3);
      }
    }
  }

  &__copyright {
    border-top: 1px solid $color-grey-dark;
    padding-top: 2rem;

    @include respond(tablet-port) {
      width: 100%;
      float: none;
    }
  }
}
