.form {
  &__group {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 4.5rem;
    }
  }

  &__input {
    font-family: inherit;
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    border: none;
    width: 90%;

    @include respond(tablet-port) { 
      width: 100%;
    }

    &:focus {
      outline: none;
      border-bottom: 3px solid $color-primary;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-light;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    display: block;
    position: absolute;
    top: -2.5rem;
    left: 2rem;
    opacity: 1;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(3.3rem);
  }

  // STEP 17 is in _home.scss ======================== STEP 18 =================================== STEP 19 is in _index.html


  &__radio-group {
    width: 49%;
    display: inline-block;

    @include respond(tablet-port) { 
      width: 100%;
      margin-bottom: 2rem;
    }
  }



  &__radio-input {
    display: none;
  }

  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem;
  }

  &__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-primary;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: -0.4rem;
    left: 0;

    &::after {
      content: "";
      display: block;
      height: 1.5rem;
      width: 1.5rem;
      background-color: $color-primary;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.3s;
    }
  }

  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }
}
